@page "/brief"
@using EcoleDeLaPerformance.Ui.Shared.Components;

<PageTitle>Brief/Debrief</PageTitle>

<div class="px-6">
	<MudPaper Class="p-4 mb-6">
		<MudTabs @bind-ActivePanelIndex="_activeTab" Rounded="true" Centered="true" MinimumTabWidth="400px">
			<MudTabPanel Text="Briefing">
				<BriefingSection />
			</MudTabPanel>
			<MudTabPanel Text="Debriefing">
				<DebriefingSection />
			</MudTabPanel>
			<MudTabPanel Text="Suivi">
				<TrainingTable />
			</MudTabPanel>
		</MudTabs>
	</MudPaper>
</div>

@code {
	private int _activeTab = 0;
}