@page "/brief"
@using EcoleDeLaPerformance.Ui.Shared.Components;

<div class="px-6">
	<MudPaper Class="p-4 mb-6">
		<MudTabs @bind-ActivePanelIndex="_activeTab" Rounded="true" Centered="true" MinimumTabWidth="400px">
			<MudTabPanel Text="Briefing">
				<BriefingSection />
			</MudTabPanel>
			<MudTabPanel Text="Debriefing">
				<DebriefingSection />
			</MudTabPanel>
			<MudTabPanel Text="Suivi">
				<MudPaper Class="p-6 text-center">
					<MudIcon Icon="@Icons.Material.Filled.BarChart" Size="Size.Large" Color="Color.Error" />
					<MudText Typo="Typo.h5" Class="mt-4">Suivi trimestriel</MudText>
					<MudText Typo="Typo.body1" Class="mb-4">Visualisez vos progrès sur le long terme</MudText>
					<MudButton Color="Color.Error" Variant="Variant.Filled" Disabled>Bientôt disponible</MudButton>
				</MudPaper>
			</MudTabPanel>
		</MudTabs>
	</MudPaper>
</div>

@code {
	private int _activeTab = 0;
}