@page "/brief"
@using EcoleDeLaPerformance.Ui.Shared.Components;
@attribute [Authorize(Policy = "AdminOrCommercialOrDirecteurPolicy")]

<PageTitle>Brief/Debrief</PageTitle>

<div class="px-6">
	<MudPaper Class="p-4 mb-6">
		<MudTabs @bind-ActivePanelIndex="_activeTab" Rounded="true" Centered="true" MinimumTabWidth="400px" ActiveTabClass="bg-primary bg-opacity-10">
			<MudTabPanel Text="Briefing de la semaine">
				<BriefingSection />
			</MudTabPanel>
			<MudTabPanel Text="Debriefing de la semaine">
				<DebriefingSection />
			</MudTabPanel>
		</MudTabs>
	</MudPaper>
</div>

@code {
	private int _activeTab = 0;
}