.BoxSize {
    height: 128px !important;
    width: 256px !important;
}

h4 {
    transform: rotate(-90deg);
    font-weight: bold;
}

::deep .mud-drop-zone {
    height: 128px !important;
    width: 220px !important;
}

::deep .delete-zone {
    margin-top: 30px !important;
    height: 70px !important;
    align-content: center
}

::deep .task-paper {
    height: 128px !important;
    width: 220px !important;
}

::deep .accompanied {
    background-color: #f9e4e4;
}

::deep .alone {
    background-color: #f3c5c5;
}

::deep .agency {
    background-color: #eda1a1;
}

::deep .performance {
    background-color: #e77272;
}