::deep .mud-grid-item:hover {
    cursor: pointer !important;
    opacity: 0.9 !important;
}

::deep #divContainer {
    background-image: url(../images/vector.png);
    background-size: contain;
    background-repeat: no-repeat;
}
