@page "/support"
@using EcoleDeLaPerformance.Ui.Interfaces
@using EcoleDeLaPerformance.Ui.Models
@using EcoleDeLaPerformance.Ui.Services
@using EcoleDeLaPerformance.Ui.Shared.Components
@inject StateContainerService stateContainerService
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@inject ICategoryService categoryService

<PageTitle>Support</PageTitle>

<div class="px-6">
    <MudPaper Class="p-4 mb-6 align-content-center" Height="800px" id="divContainer">
        <MudGrid>
            <MudItem xs="12" md="4">
                <MudCard @onclick='() => OnItemClick(categories.Where(x => x.Title == "Technique de vente").Select(x => x.Id).FirstOrDefault())'>
                    <MudCardMedia Image="images/TechniqueImage.png" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Technique de vente</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard @onclick='() => OnItemClick(categories.Where(x => x.Title == "SMS 1234").Select(x => x.Id).FirstOrDefault())'>
                    <MudCardMedia Image="images/smsImage.png" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">SMS 1234</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard @onclick="OnELearningClick">
                    <MudCardMedia Image="images/learningImage.jpg" Height="200" Style="filter: brightness(0.5);" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">E-Learning</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>

@code {
    public List<Category> categories = new List<Category>();
    public bool isBack = false;
    public User userInfo => stateContainerService.UserInfo;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        categories = await categoryService.GetCategoriesAsync();
    }

    async void OnItemClick(int itemId)
    {
        navigationManager.NavigateTo($"/support/{itemId}");
    }

    void OnELearningClick()
    {
        JSRuntime.InvokeVoidAsync("openInNewTab", "https://lms.omnysis.com/");
    }
}
