@page "/support"
@using EcoleDeLaPerformance.Ui.Interfaces
@using EcoleDeLaPerformance.Ui.Models
@using EcoleDeLaPerformance.Ui.Services
@using EcoleDeLaPerformance.Ui.Shared.Components
@inject StateContainerService stateContainerService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="px-6">
    <MudPaper Class="p-4 mb-6 align-content-center" Height="800px" id="divContainer">
        <MudGrid>
            <MudItem xs="12" md="4">
                <MudCard>
                    <MudCardMedia Image="images/TechniqueImage.png" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Technique de vente</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard>
                    <MudCardMedia Image="images/smsImage.png" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">SMS 1234</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCard>
                    <MudCardMedia Image="images/learningImage.jpg" Height="200" Style="filter: brightness(0.5);" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">E-Learning</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>

@code {
    public List<Category> classesList = new List<Category>();
    public bool isBack = false;
    public User userInfo => stateContainerService.UserInfo;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        // if (!userInfo.Role.Contains("Commercial"))
        // {
        //     NavigationManager.NavigateTo("/");
        // }
    }

    async void OnItemClick(string itemName)
    {
        // var allClassesList = await classService.GetClassesAsync();
        // classesList = allClassesList.Where(x => x.ClassName == itemName).ToList();
        isBack = true;
        InvokeAsync(() => StateHasChanged());
    }

    void OnELearningClick()
    {
        JSRuntime.InvokeVoidAsync("openInNewTab", "https://lms.omnysis.com/");
    }

    void BackToHomePage()
    {
        isBack = false;
        classesList = null;
        StateHasChanged();
    }
}
