.connector {
    flex: 1;
    border: none;
    height: 2px;
    background-color: black;
    max-width: 10%;
    margin-inline: 0
}

::deep .mud-chip.mud-chip-size-medium {
    padding-inline: 3%;
    box-shadow: inset 13px 32px 32px -42px;
}
