<div class="landingPage">
    <MudGrid Justify="Justify.Center" Class="form">
        <MudItem xs="12" md="4">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12">
                    <div class="container">
                        <MudGrid Justify="Justify.Center">
                            <MudItem>
                                <MudImage Src="/images/landingpage-logo.svg" Height="80" />
                            </MudItem>

                            <MudItem>
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="12">
                                        <div class="bar"></div>


                                    </MudItem>
                                    <MudItem>
                                        <a href="/MicrosoftIdentity/Account/SignIn">
                                            <div class="microsoft">
                                                <MudImage Src="/images/WINDOW.png" Height="30" />
                                                <MudText Typo="Typo.h6">Se connecter avec Microsoft</MudText>
                                            </div>
                                        </a>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </div>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>
