::deep .linkmenu .mud-nav-link {
    margin-top: 1rem;
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
}

::deep .linkmenu a:hover {
    color: rgba(10, 50, 78, 1) !important
}

::deep .drawer-fixed {
    position: fixed;
    top: 57px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
}