<div class="errorPage">
        <MudGrid>
            <MudItem md="12" xs="12" lg="12" Class="d-flex justify-content-center">
                <img src="/images/error.png" alt="error" width="30%" />
            </MudItem>
            <MudItem md="12" xs="12" lg="12" Class="d-flex justify-content-center">
                <MudText Typo="Typo.h5" Color="Color.Primary" Class="fw-bold">Utilisateur non trouvé.</MudText>
            </MudItem>
            <MudItem md="12" xs="12" lg="12" Class="d-flex justify-content-center">
                <MudText Typo="Typo.body1" Color="Color.Primary" Class="m-4">Pour l'instant tu n'as pas accès à ce site. Rapproche toi du service DailyUP.</MudText>
            </MudItem>
            <MudItem md="12" xs="12" lg="12" Class="d-flex justify-content-center">
                <MudGrid Justify="Justify.Center">
                    <MudItem md="2" xs="12" lg="2" Class="d-flex justify-content-center">
                    <MudText Typo="Typo.body1" Color="Color.Primary" Class="fw-bold">dailyup@xefi.fr</MudText>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
</div>

@code {

}
