@using EcoleDeLaPerformance.Ui.Models

@* @foreach (Class oneClass in classes)
{

    <h1 class="m-5 text-uppercase">@oneClass.ClassName</h1>
    <PDFViewer filesList="@oneClass.Documents.ToList()" />
} *@

@code {
    // [Parameter]
    // public List<Class> classes { get; set; }

}
