@using EcoleDeLaPerformance.Ui.Models

<div>
    <MudPaper>
        <MudList>
            <MudListItem Class="title">@title</MudListItem>
            <MudDivider />
            @if (elementsList != null)
            {
                @foreach (var element in elementsList)
                {
                    <MudListItem>@element</MudListItem>
                }
            }
            @if (imagesList != null)
            {
                @foreach (var image in imagesList)
                {
                    if (image != "-")
                    {
                        <MudListItem>
                            <img src="/images/@image" width="24px" />
                        </MudListItem>
                    }
                    else
                    {
                        <MudListItem>
                            -
                        </MudListItem>
                    }

                }
            }
        </MudList>
    </MudPaper>
</div>

@code {
    [Parameter]
    public string? title { get; set; }

    [Parameter]
    public List<string>? elementsList { get; set; }

    [Parameter]
    public List<string>? imagesList { get; set; }
}
