<div>
    <MudGrid Justify="Justify.Center" Class="mt-8 align-items-end mb-8">
        <MudItem sm="12" md="3" lg="3" Class="w-100">
            <MudText Typo="Typo.h3" Color="Color.Primary" Class="fw-bold text-uppercase">Objectifs</MudText>
        </MudItem>
        <MudItem sm="12" md="2" lg="2" Class="w-100">
            <MudText Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">Sauvegarde</MudText>
            <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-4">
                <MudText Typo="Typo.h6" Align="Align.Center">Période N1 : 5</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N2 : 2</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N3 : 1</MudText>
            </MudPaper>
        </MudItem>
        <MudItem sm="12" md="2" lg="2" Class="w-100">
            <MudText Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">Maintenance</MudText>
            <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-4">
                <MudText Typo="Typo.h6" Align="Align.Center">Période N1 : -</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N2 : 5</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N3 : 1</MudText>
            </MudPaper>
        </MudItem>
        <MudItem sm="12" md="2" lg="2" Class="w-100">
            <MudText Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">Sécurité</MudText>
            <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-4">
                <MudText Typo="Typo.h6" Align="Align.Center">Période N1 : -</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N2 : -</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N3 : 5</MudText>
            </MudPaper>
        </MudItem>
        <MudItem sm="12" md="2" lg="2" Class="w-100">
            <MudText Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">Compte PRLVT</MudText>
            <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full py-4">
                <MudText Typo="Typo.h6" Align="Align.Center">Période N1 : 4</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N2 : 2</MudText>
                <MudText Typo="Typo.h6" Align="Align.Center">Période N3 : -</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>
@code {

}
