::deep .mud-input.mud-input-outlined .mud-input-outlined-border {
    border-radius: 50px !important;
    border-color: #fff !important;
    box-shadow: 3px 3px 10px 3px #dddddd;
}

::deep .mud-input {
    background-color: #fff !important;
    border-radius: 50px !important;
}

::deep .mud-input-control {
    margin-top: 0 !important; 
}